<%- include('./partials/header.ejs') %>  

    <main>
        <h1><%= header %></h1>
        <form action="<%= action %>" method="POST">
            <p>
                <label for="productNumber">Product Number</label>
                <input type="text" id="productNumber" name="productNumber" size="5">
            </p>
            <button type="submit">Search</button>
        </form>
    </main>
</body>
</html>